<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Menu</ion-title>
      <ion-badge color="danger" slot="end">1000</ion-badge>
    </ion-toolbar>
  </ion-header>
<ion-content >
  <ion-card>
    <ion-accordion-group>
      <ion-accordion value="first">
        <ion-item slot="header" color="light">
          <ion-label>Pizzerias</ion-label>
        </ion-item>
        <!--Desde aca es el original-->
        <div class="ion-padding" slot="content">
          <ion-accordion-group>
            <ion-accordion value="first">
              <ion-item slot="header">
                <ion-label>M&M</ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">
                <ion-card>
                  <img alt="Silhouette of mountains" src="assets/icon/m&m pizzeria.jpg" />
                  <ion-card-content>
                    <h2>DIRECCION</h2>
                    <p>Calle 6 # 18-03 Local 3 y 4</p>
                    <br>
                    <h2>TELEFONO</h2>
                    <P>318 2537579</P>
                    <br>
                    <h2>HORARIO:</h2>
                    <h2>Domingo</h2>
                    <p>16:30 - 23:00</p>
                    <h2>Lunes</h2>
                    <p>Cerrado</p>
                    <h2>Martes</h2>
                    <p>16:30 - 23:00</p>
                    <h2>Miercoles</h2>
                    <p>16:30 - 23:00</p>
                    <h2>Jueves</h2>
                    <p>16:30 - 23:00</p>
                    <h2>Viernes</h2>
                    <p>16:30 - 23:00</p>
                    <h2>sábado</h2>
                    <p>16:30 - 23:00</p>
                  </ion-card-content>
                </ion-card>
              </div>
            </ion-accordion>
            <ion-accordion value="second">
              <ion-item slot="header">
                <ion-label>RUSTICA</ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">
                <ion-card>
                  <img alt="Silhouette of mountains" src="assets/icon/Rustica pizzeria.jpg" />
                  <ion-card-content>
                    <h2>DIRECCION</h2>
                    <p>Calle 6 # 18-44</p>
                    <br>
                    <h2>TELEFONO</h2>
                    <P>5655713</P>
                    <br>
                    <h2>HORARIO:</h2>
                    <h2>Domingo</h2>
                    <p>12:00 - 23:00</p>
                    <h2>Lunes</h2>
                    <p>16:00 - 23:00</p>
                    <h2>Martes</h2>
                    <p>16:00 - 23:00</p>
                    <h2>Miercoles</h2>
                    <p>16:00 - 23:00</p>
                    <h2>Jueves</h2>
                    <p>16:00 - 23:00</p>
                    <h2>Viernes</h2>
                    <p>16:00 - 23:00</p>
                    <h2>sábado</h2>
                    <p>12:00 - 23:00</p>
                  </ion-card-content>
                </ion-card>
              </div>
            </ion-accordion>
            <ion-accordion value="third">
              <ion-item slot="header">
                <ion-label>BARUKH FAST FOOD</ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">
                <ion-card>
                  <img alt="Silhouette of mountains" src="assets/icon/BARUKH FAST FOOD.jpg" />
                  <ion-card-content>
                    <h2>DIRECCION</h2>
                    <p>Calle 4 # 18-07</p>
                    <br>
                    <h2>TELEFONO</h2>
                    <P>3104305014</P>
                    <br>
                    <h2>HORARIO:</h2>
                    <h2>Domingo</h2>
                    <p>17:00 - 22:30</p>
                    <h2>Lunes</h2>
                    <p>17:00 - 22:30</p>
                    <h2>Martes</h2>
                    <p>17:00 - 22:30</p>
                    <h2>Miercoles</h2>
                    <p>17:00 - 22:30</p>
                    <h2>Jueves</h2>
                    <p>17:00 - 22:30</p>
                    <h2>Viernes</h2>
                    <p>17:00 - 22:30</p>
                    <h2>sábado</h2>
                    <p>17:00 - 22:30</p>
                  </ion-card-content>
                </ion-card>
              </div>
            </ion-accordion>
            <ion-accordion value="quarter">
              <ion-item slot="header">
                <ion-label>LA NOSTRA</ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">
                <ion-card>
                  <img alt="Silhouette of mountains" src="assets/icon/lanostra.jpg" />
                  <ion-card-content>
                    <h2>DIRECCION</h2>
                    <p>Calle 6 # 18-08</p>
                    <br>
                    <h2>TELEFONO</h2>
                    <P>55650850</P>
                    <br>
                    <h2>HORARIO:</h2>
                    <h2>Domingo</h2>
                    <p>17:00 - 22:30</p>
                    <h2>Lunes</h2>
                    <p>17:00 - 22:30</p>
                    <h2>Martes</h2>
                    <p>17:00 - 22:30</p>
                    <h2>Miercoles</h2>
                    <p>17:00 - 22:30</p>
                    <h2>Jueves</h2>
                    <p>17:00 - 22:30</p>
                    <h2>Viernes</h2>
                    <p>17:00 - 22:30</p>
                    <h2>sábado</h2>
                    <p>17:00 - 22:30</p>
                  </ion-card-content>
                </ion-card>
              </div>
            </ion-accordion>
          </ion-accordion-group>
        </div>
      </ion-accordion>
      <ion-accordion value="second">
        <ion-item slot="header" color="light">
          <ion-label>Restaurantes</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-accordion-group>
            <ion-accordion value="first">
              <ion-item slot="header">
                <ion-label>LA BRASA</ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">
                <ion-card>
                  <img alt="Silhouette of mountains" src="assets/icon/Labrasa.jpg" />
                  <ion-card-content>
                    <h2>DIRECCION</h2>
                    <p>Carrera 40 Vía al Mar Entre Calle 3 y 4</p>
                    <br>
                    <h2>TELEFONO</h2>
                    <P>5654630</P>
                    <br>
                    <h2>HORARIO:</h2>
                    <h2>Domingo</h2>
                    <p>12:00 - 23:00</p>
                    <h2>Lunes</h2>
                    <p>12:00 - 23:00</p>
                    <h2>Martes</h2>
                    <p>12:00 - 23:00</p>
                    <h2>Miercoles</h2>
                    <p>12:00 - 23:00</p>
                    <h2>Jueves</h2>
                    <p>12:00 - 23:00</p>
                    <h2>Viernes</h2>
                    <p>12:00 - 23:00</p>
                    <h2>sábado</h2>
                    <p>12:00 - 23:00</p>
                  </ion-card-content>
                </ion-card>
              </div>
            </ion-accordion>
            <ion-accordion value="second">
              <ion-item slot="header">
                <ion-label>CARNIVORE RESTAURANT</ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">
                <ion-card>
                  <img alt="Silhouette of mountains" src="assets/icon/Carnivore.jpg" />
                  <ion-card-content>
                    <h2>DIRECCION</h2>
                    <p>Calle 1 #20-61 Esquina</p>
                    <br>
                    <h2>TELEFONO</h2>
                    <P>+57 317 2719912</P>
                    <br>
                    <h2>HORARIO:</h2>
                    <h2>Domingo</h2>
                    <p>10:00 - 22:00</p>
                    <h2>Lunes</h2>
                    <p>10:00 - 22:00</p>
                    <h2>Martes</h2>
                    <p>10:00 - 22:00</p>
                    <h2>Miercoles</h2>
                    <p>10:00 - 22:00</p>
                    <h2>Jueves</h2>
                    <p>10:00 - 22:00</p>
                    <h2>Viernes</h2>
                    <p>10:00 - 22:00</p>
                    <h2>sábado</h2>
                    <p>10:00 - 22:00</p>
                  </ion-card-content>
                </ion-card>
              </div>
            </ion-accordion>
            <ion-accordion value="third">
              <ion-item slot="header">
                <ion-label>LA TRAVIATA</ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">
                <ion-card>
                  <img alt="Silhouette of mountains" src="assets/icon/Latraviata.jpg" />
                  <ion-card-content>
                    <h2>DIRECCION</h2>
                    <p>Calle 10 # 29-48</p>
                    <br>
                    <h2>TELEFONO</h2>
                    <P>+57 300 6932059</P>
                    <br>
                    <h2>HORARIO:</h2>
                    <h2>Domingo</h2>
                    <p>11:00 - 22:00</p>
                    <h2>Lunes</h2>
                    <p>11:00 - 22:00</p>
                    <h2>Martes</h2>
                    <p>11:00 - 22:00</p>
                    <h2>Miercoles</h2>
                    <p>11:00 - 22:00</p>
                    <h2>Jueves</h2>
                    <p>11:00 - 22:00</p>
                    <h2>Viernes</h2>
                    <p>11:00 - 22:00</p>
                    <h2>sábado</h2>
                    <p>11:00 - 22:00</p>
                  </ion-card-content>
                </ion-card>
              </div>
            </ion-accordion>
            <ion-accordion value="quarter">
              <ion-item slot="header">
                <ion-label>RESTAURANTE PUB VENECIA</ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">
                <ion-card>
                  <img alt="Silhouette of mountains" src="assets/icon/Pubvenecia.jpg" />
                  <ion-card-content>
                    <h2>DIRECCION</h2>
                    <p>Carrera 21</p>
                    <br>
                    <h2>TELEFONO</h2>
                    <P>+57 316 8221980</P>
                    <br>
                    <h2>HORARIO:</h2>
                    <h2>Domingo</h2>
                    <p>5:00 - 22:00</p>
                    <h2>Lunes</h2>
                    <p>5:00 - 22:00</p>
                    <h2>Martes</h2>
                    <p>5:00 - 22:00</p>
                    <h2>Miercoles</h2>
                    <p>5:00 - 22:00</p>
                    <h2>Jueves</h2>
                    <p>5:00 - 22:00</p>
                    <h2>Viernes</h2>
                    <p>5:00 - 22:00</p>
                    <h2>sábado</h2>
                    <p>5:00 - 22:00</p>
                  </ion-card-content>
                </ion-card>
              </div>
            </ion-accordion>
            <ion-accordion value="fifth">
              <ion-item slot="header">
                <ion-label>EL ESTABLO</ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">
                <ion-card>
                  <img alt="Silhouette of mountains" src="assets/icon/Elestablo.jpg" />
                  <ion-card-content>
                    <h2>DIRECCION</h2>
                    <p>Carrera 40 # 8A-28</p>
                    <br>
                    <h2>TELEFONO</h2>
                    <P>+57 310 6647238</P>
                    <br>
                    <h2>HORARIO:</h2>
                    <h2>Domingo</h2>
                    <p>18:00 - 22:00</p>
                    <h2>Lunes</h2>
                    <p>18:00 - 22:00</p>
                    <h2>Martes</h2>
                    <p>18:00 - 22:00</p>
                    <h2>Miercoles</h2>
                    <p>18:00 - 22:00</p>
                    <h2>Jueves</h2>
                    <p>18:00 - 22:00</p>
                    <h2>Viernes</h2>
                    <p>18:00 - 22:00</p>
                    <h2>sábado</h2>
                    <p>18:00 - 22:00</p>
                  </ion-card-content>
                </ion-card>
              </div>
            </ion-accordion>
            
          </ion-accordion-group>
        </div>
      </ion-accordion>
      <ion-accordion value="third">
        <ion-item slot="header" color="light">
          <ion-label>Comidas Rapidas</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-accordion-group>
            <ion-accordion value="first">
              <ion-item slot="header">
                <ion-label>CHILES FAST FOODS</ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">
                <ion-card>
                  <img alt="Silhouette of mountains" src="assets/icon/Chiles.jpg" />
                  <ion-card-content>
                    <h2>DIRECCION</h2>
                    <p>Calle 6 # 19-15</p>
                    <br>
                    <h2>TELEFONO</h2>
                    <P>+57 317 2678944</P>
                    <br>
                    <h2>HORARIO:</h2>
                    <h2>Domingo</h2>
                    <p>10:00 - 21:00</p>
                    <h2>Lunes</h2>
                    <p>10:00 - 21:00</p>
                    <h2>Martes</h2>
                    <p>10:00 - 21:00</p>
                    <h2>Miercoles</h2>
                    <p>10:00 - 21:00</p>
                    <h2>Jueves</h2>
                    <p>10:00 - 21:00</p>
                    <h2>Viernes</h2>
                    <p>10:00 - 21:00</p>
                    <h2>sábado</h2>
                    <p>10:00 - 21:00</p>
                  </ion-card-content>
                </ion-card>
              </div>
            </ion-accordion>
            <ion-accordion value="second">
              <ion-item slot="header">
                <ion-label>DONDE ALVARO</ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">
                <ion-card>
                  <img alt="Silhouette of mountains" src="assets/icon/Alvaro.jpg" />
                  <ion-card-content>
                    <h2>DIRECCION</h2>
                    <p>Calle 2 # 39-02</p>
                    <br>
                    <h2>TELEFONO</h2>
                    <P>+57 3188778683</P>
                    <br>
                    <h2>HORARIO:</h2>
                    <h2>Domingo</h2>
                    <p>17:30 - 23:30</p>
                    <h2>Lunes</h2>
                    <p>17:30 - 23:30</p>
                    <h2>Martes</h2>
                    <p>17:30 - 23:30</p>
                    <h2>Miercoles</h2>
                    <p>17:30 - 23:30</p>
                    <h2>Jueves</h2>
                    <p>17:30 - 23:30</p>
                    <h2>Viernes</h2>
                    <p>17:30 - 23:30</p>
                    <h2>sábado</h2>
                    <p>17:30 - 23:30</p>
                  </ion-card-content>
                </ion-card>
              </div>
            </ion-accordion>
           
            <ion-accordion value="quarter">
              <ion-item slot="header">
                <ion-label>LA BUTCHERIA</ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">
                <ion-card>
                  <img alt="Silhouette of mountains" src="assets/icon/la Butcheria.jpg" />
                  <ion-card-content>
                    <h2>DIRECCION</h2>
                    <p>Calle 7 # 23-47</p>
                    <br>
                    <h2>TELEFONO</h2>
                    <P>+57 311 867 4017</P>
                    <br>
                    <h2>HORARIO:</h2>
                    <h2>Domingo</h2>
                    <p>17:00 - 24:30</p>
                    <h2>Lunes</h2>
                    <p>17:00 - 24:30</p>
                    <h2>Martes</h2>
                    <p>17:00 - 24:30</p>
                    <h2>Miercoles</h2>
                    <p>17:00 - 24:30</p>
                    <h2>Jueves</h2>
                    <p>17:00 - 24:30</p>
                    <h2>Viernes</h2>
                    <p>17:00 - 24:30</p>
                    <h2>sábado</h2>
                    <p>17:00 - 24:30</p>
                  </ion-card-content>
                </ion-card>
              </div>
            </ion-accordion>
          </ion-accordion-group>
        </div>
      </ion-accordion>
      <ion-accordion value="quarter">
        <ion-item slot="header" color="light">
          <ion-label>Heladerias</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-accordion-group>
            <ion-accordion value="first">
              <ion-item slot="header">
                <ion-label>PUGGIN</ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">
                <ion-card>
                  <img alt="Silhouette of mountains" src="assets/icon/Puggin.jpg" />
                  <ion-card-content>
                    <h2>DIRECCION</h2>
                    <p>Calle 5 # 21-15</p>
                    <br>
                    <h2>TELEFONO</h2>
                    <P>+57 310 3624065</P>
                    <br>
                    <h2>HORARIO:</h2>
                    <h2>Domingo</h2>
                    <p>14:00 - 21:00</p>
                    <h2>Lunes</h2>
                    <p>Cerrado</p>
                    <h2>Martes</h2>
                    <p>17:00 - 00:00</p>
                    <h2>Miercoles</h2>
                    <p>14:00 - 21:00</p>
                    <h2>Jueves</h2>
                    <p>14:00 - 21:00</p>
                    <h2>Viernes</h2>
                    <p>14:00 - 21:00</p>
                    <h2>sábado</h2>
                    <p>14:00 - 21:00</p>
                  </ion-card-content>
                </ion-card>
              </div>
            </ion-accordion>
            <ion-accordion value="second">
              <ion-item slot="header">
                <ion-label>POPSY</ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">
                <ion-card>
                  <img alt="Silhouette of mountains" src="assets/icon/Popsy.jpg" />
                  <ion-card-content>
                    <h2>DIRECCION</h2>
                    <p>Calle 5 #21-71</p>
                    <br>
                    <h2>TELEFONO</h2>
                    <P>+57 314 4727220</P>
                    <br>
                    <h2>HORARIO:</h2>
                    <h2>Domingo</h2>
                    <p>14:00 - 21:00</p>
                    <h2>Lunes</h2>
                    <p>14:00 - 21:00</p>
                    <h2>Martes</h2>
                    <p>14:00 - 21:00</p>
                    <h2>Miercoles</h2>
                    <p>14:00 - 21:00</p>
                    <h2>Jueves</h2>
                    <p>14:00 - 21:00</p>
                    <h2>Viernes</h2>
                    <p>14:00 - 21:00</p>
                    <h2>sábado</h2>
                    <p>14:00 - 21:00</p>
                  </ion-card-content>
                </ion-card>
              </div>
            </ion-accordion>
            <ion-accordion value="third">
              <ion-item slot="header">
                <ion-label>ARRECIFE ICECREAM</ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">
                <ion-card>
                  <img alt="Silhouette of mountains" src="assets/icon/Arrecife.jpg" />
                  <ion-card-content>
                    <h2>DIRECCION</h2>
                    <p>Calle 5 # 20-19</p>
                    <br>
                    <h2>TELEFONO</h2>
                    <P>+57 312 7979515</P>
                    <br>
                    <h2>HORARIO:</h2>
                    <h2>Domingo</h2>
                    <p>14:00 - 21:50</p>
                    <h2>Lunes</h2>
                    <p>14:00 - 21:50</p>
                    <h2>Martes</h2>
                    <p>14:00 - 21:50</p>
                    <h2>Miercoles</h2>
                    <p>14:00 - 21:50</p>
                    <h2>Jueves</h2>
                    <p>14:00 - 21:50</p>
                    <h2>Viernes</h2>
                    <p>14:00 - 21:50</p>
                    <h2>sábado</h2>
                    <p>14:00 - 21:50</p>
                  </ion-card-content>
                </ion-card>
              </div>
            </ion-accordion>

          </ion-accordion-group>
        </div>
      </ion-accordion>
      <ion-accordion value="fifth">
        <ion-item slot="header" color="light">
          <ion-label>Licores y Bebidas</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-accordion-group>
            <ion-accordion value="first">
              <ion-item slot="header">
                <ion-label>COYOTE UGLY 85</ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">
                <ion-card>
                  <img alt="Silhouette of mountains" src="assets/icon/Coyoteugly.jpg" />
                  <ion-card-content>
                    <h2>DIRECCION</h2>
                    <p>Calle 5 # 25 - 1</p>
                    <br>
                    <h2>TELEFONO</h2>
                    <P></P>
                    <br>
                    <h2>HORARIO:</h2>
                    <h2>Domingo</h2>
                    <p>18:00 - 01:00</p>
                    <h2>Lunes</h2>
                    <p>Cerrado</p>
                    <h2>Martes</h2>
                    <p>Cerrado</p>
                    <h2>Miercoles</h2>
                    <p>Cerrado</p>
                    <h2>Jueves</h2>
                    <p>Cerrado</p>
                    <h2>Viernes</h2>
                    <p>18:00 - 03:00</p>
                    <h2>sábado</h2>
                    <p>18:00 - 03:00</p>
                  </ion-card-content>
                </ion-card>
              </div>
            </ion-accordion>
            <ion-accordion value="third">
              <ion-item slot="header">
                <ion-label>DELUXE</ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">
                <ion-card>
                  <img alt="Silhouette of mountains" src="assets/icon/Deluxe.jpg" />
                  <ion-card-content>
                    <h2>DIRECCION</h2>
                    <p>Calle 5 # 21 - 71</p>
                    <br>
                    <h2>TELEFONO</h2>
                    <P>+57 300 2465663</P>
                    <br>
                    <h2>HORARIO:</h2>
                    <h2>Domingo</h2>
                    <p>18:00 - 01:00</p>
                    <h2>Lunes</h2>
                    <p>Cerrado</p>
                    <h2>Martes</h2>
                    <p>Cerrado</p>
                    <h2>Miercoles</h2>
                    <p>18:00 - 01:00</p>
                    <h2>Jueves</h2>
                    <p>18:00 - 01:00</p>
                    <h2>Viernes</h2>
                    <p>18:00 - 03:00</p>
                    <h2>sábado</h2>
                    <p>18:00 - 03:00</p>
                  </ion-card-content>
                </ion-card>
              </div>
            </ion-accordion>
            <ion-accordion value="sixth">
              <ion-item slot="header">
                <ion-label>COYOTE LICORES</ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">
                <ion-card>
                  <img alt="Silhouette of mountains" src="assets/icon/Coyotelicores.jpg" />
                  <ion-card-content>
                    <h2>DIRECCION</h2>
                    <p>Calle 5 # 18 - 19</p>
                    <br>
                    <h2>TELEFONO</h2>
                    <P>+57 310 623 34 16</P>
                    <br>
                    <h2>HORARIO:</h2>
                    <h2>Domingo</h2>
                    <p>10:00 - 01:00</p>
                    <h2>Lunes</h2>
                    <p>14:00 - 01:00</p>
                    <h2>Martes</h2>
                    <p>14:00 - 01:00</p>
                    <h2>Miercoles</h2>
                    <p>14:00 - 01:00</p>
                    <h2>Jueves</h2>
                    <p>14:00 - 01:00</p>
                    <h2>Viernes</h2>
                    <p>14:00 - 03:00</p>
                    <h2>sábado</h2>
                    <p>14:00 - 03:00</p>
                  </ion-card-content>
                </ion-card>
              </div>
            </ion-accordion>
          </ion-accordion-group>
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </ion-card>
</ion-content>
