<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Menu</ion-title>
      <ion-badge color="danger" slot="end">1000</ion-badge>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-card>
      <ion-accordion-group>
        <ion-accordion value="first">
          <ion-item slot="header" color="light">
            <ion-label>Iglesias</ion-label>
          </ion-item>
          <!--Desde aca es el original-->
          <div class="ion-padding" slot="content">
            <ion-accordion-group>
              <ion-accordion value="first">
                <ion-item slot="header">
                  <ion-label>VIRGEN DEL CARMEN</ion-label>
                </ion-item>
                <div class="ion-padding" slot="content">
                  <ion-card>
                    <img alt="Silhouette of mountains" src="../../assets/icon/iglesiavirgendelcarmen.jpeg" />
                    <iframe
                      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7895.899519666301!2d-73.61899955620288!3d8.307791774102899!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e5d857c9f96cb87%3A0x6099d6df527f6b1f!2sPARROQUIA%20NUESTRA%20SE%C3%91ORA%20DEL%20CARMEN!5e0!3m2!1ses!2sco!4v1694844861391!5m2!1ses!2sco"
                      width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                      referrerpolicy="no-referrer-when-downgrade"></iframe>
                  </ion-card>
                </div>
              </ion-accordion>
              <ion-accordion value="second">
                <ion-item slot="header">
                  <ion-label>SAN ROQUE</ion-label>
                </ion-item>
                <div class="ion-padding" slot="content">
                  <ion-card>
                    <img alt="Silhouette of mountains" src="../../assets/icon/iglesiasanroque.jpg" />
                    <iframe
                      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15791.70894971895!2d-73.6421323441233!3d8.310029907988266!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e5d8563c210a2ab%3A0x9d160ba6ede1b368!2sParque%20San%20Roque!5e0!3m2!1ses!2sco!4v1694845008015!5m2!1ses!2sco"
                      width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                      referrerpolicy="no-referrer-when-downgrade"></iframe>
                  </ion-card>
                </div>
              </ion-accordion>
             
              <ion-accordion value="quarter">
                <ion-item slot="header">
                  <ion-label>SAN VICENTE DE PAUL</ion-label>
                </ion-item>
                <div class="ion-padding" slot="content">
                  <ion-card>
                    <img alt="Silhouette of mountains" src="../../assets/icon/Iglesiasanvicente.JPG" />
                    <iframe
                      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3947.893577536886!2d-73.6047271266099!3d8.3133736997835!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e5d8f7e1882c2df%3A0x1a14b860cc14de13!2sParroquia%20San%20Vicente%20De%20Paul!5e0!3m2!1ses!2sco!4v1694845330337!5m2!1ses!2sco"
                      width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                      referrerpolicy="no-referrer-when-downgrade"></iframe>
                  </ion-card>
                </div>
              </ion-accordion>
            </ion-accordion-group>
          </div>
        </ion-accordion>
        <ion-accordion value="second">
          <ion-item slot="header" color="light">
            <ion-label>Parques</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <ion-accordion-group>
              <ion-accordion value="first">
                <ion-item slot="header">
                  <ion-label>SAN ROQUE</ion-label>
                </ion-item>
                <div class="ion-padding" slot="content">
                  <ion-card>
                    <img alt="Silhouette of mountains" src="../../assets/icon/Parquesanroque.jpg" />
                    <iframe
                      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15791.70894971895!2d-73.64213234412331!3d8.310029907988266!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e5d8563c210a2ab%3A0x9d160ba6ede1b368!2sParque%20San%20Roque!5e0!3m2!1ses!2sco!4v1694845459979!5m2!1ses!2sco"
                      width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                      referrerpolicy="no-referrer-when-downgrade"></iframe>
                  </ion-card>
                </div>
              </ion-accordion>
              <ion-accordion value="second">
                <ion-item slot="header">
                  <ion-label>MORROCOY</ion-label>
                </ion-item>
                <div class="ion-padding" slot="content">
                  <ion-card>
                    <img alt="Silhouette of mountains" src="../../assets/icon/Parquemorrocoy.jpg" />
                    <iframe
                      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3947.9283596819846!2d-73.61925902661005!3d8.309918399833558!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e5d857ce9a4a421%3A0x6d1ba00b4cd42fd5!2sParque%20Morrocoy!5e0!3m2!1ses!2sco!4v1694845517640!5m2!1ses!2sco"
                      width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                      referrerpolicy="no-referrer-when-downgrade"></iframe>
                  </ion-card>
                </div>
              </ion-accordion>
              <ion-accordion value="third">
                <ion-item slot="header">
                  <ion-label>SAN ANTONIO</ion-label>
                </ion-item>
                <div class="ion-padding" slot="content">
                  <ion-card>
                    <img alt="Silhouette of mountains" src="../../assets/icon/Parquesanantonio.jpeg" />
                    <iframe
                      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4763.25016274476!2d-73.61831641972758!3d8.305249485479825!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e5d85bb92946313%3A0x6cd066fbf3eff778!2sParque%20San%20Antonio!5e0!3m2!1ses!2sco!4v1694845597153!5m2!1ses!2sco"
                      width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                      referrerpolicy="no-referrer-when-downgrade"></iframe>
                  </ion-card>
                </div>
              </ion-accordion>
              
            </ion-accordion-group>
          </div>
        </ion-accordion>
        <ion-accordion value="third">
          <ion-item slot="header" color="light">
            <ion-label>Rios</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <ion-accordion-group>
              <ion-accordion value="first">
                <ion-item slot="header">
                  <ion-label>QUEBRADA BUTURAMA</ion-label>
                </ion-item>
                <div class="ion-padding" slot="content">
                  <ion-card>
                    <img alt="Silhouette of mountains" src="../../assets/icon/Quebradabuturama.jpeg" />
                    <iframe
                      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31586.909983449954!2d-73.61590582606308!3d8.266545078615826!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e5d84fd1dad67c9%3A0xbbf6a3e2a9af262e!2sQuebrada%20Buturama!5e0!3m2!1ses!2sco!4v1694846168872!5m2!1ses!2sco"
                      width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                      referrerpolicy="no-referrer-when-downgrade"></iframe>
                  </ion-card>
                </div>
              </ion-accordion>
              
              <ion-accordion value="third">
                <ion-item slot="header">
                  <ion-label>QUEBRADA NOREAN</ion-label>
                </ion-item>
                <div class="ion-padding" slot="content">
                  <ion-card>
                    <img alt="Silhouette of mountains" src="../../assets/icon/Quebradanorean.jpg" />
                    <iframe
                      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31576.596785880796!2d-73.75841754671599!3d8.394323971558919!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e5d915043fce417%3A0x658359264a0e8546!2sQuebrada%20Nore%C3%A1n!5e0!3m2!1ses!2sco!4v1694846495498!5m2!1ses!2sco"
                      width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                      referrerpolicy="no-referrer-when-downgrade"></iframe>
                  </ion-card>
                </div>
              </ion-accordion>
            </ion-accordion-group>
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </ion-card>
             
          
