<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Menu</ion-title>
      <ion-badge color="danger" slot="end">1000</ion-badge>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-card>
      <ion-accordion-group>
        
        <ion-accordion value="Second">
          <ion-item slot="header" color="light">
            <ion-label>PRADO COUNTRY</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <ion-card>
              <img alt="Silhouette of mountains" src="../../assets/icon/Pradoafuera.jpg" />
              <img alt="Silhouette of mountains" src="../../assets/icon/Pradorecepcion.jpg" />
              <img alt="Silhouette of mountains" src="../../assets/icon/Pradohabitacion.jpg" />
              <ion-card-content>
                DIRECCION: Carrera 30
              </ion-card-content>
              <ion-card-content>
                PRECIO: Desde $110.000
              </ion-card-content>
            </ion-card>
          </div>
        </ion-accordion>
        <ion-accordion value="first">
          <ion-item slot="header" color="light">
            <ion-label>SAGRADO</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <ion-card>
              <img alt="Silhouette of mountains" src="../../assets/icon/Sagradoafuera.jpg" />
              <img alt="Silhouette of mountains" src="../../assets/icon/Sagradorecepcion.jpg" />
              <img alt="Silhouette of mountains" src="../../assets/icon/Sagradohabitacion.jpg" />
              <ion-card-content>
                DIRECCION: Carrera 49 #9 Norte-75, Aguachica 205010
              </ion-card-content>
              <ion-card-content>
                PRECIO: Desde $92.000
              </ion-card-content>
            </ion-card>
          </div>
        </ion-accordion>
        <ion-accordion value="quarter">
          <ion-item slot="header" color="light">
            <ion-label>LOS ESTORAQUES</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <ion-card>
              <img alt="Silhouette of mountains" src="../../assets/icon/Estoraquesafuera.jpg" />
              <img alt="Silhouette of mountains" src="../../assets/icon/Estoraquesrecepcion.jpg" />
              <img alt="Silhouette of mountains" src="../../assets/icon/Estoraqueshabitacion.jpg" />
              <ion-card-content>
                DIRECCION: Calle 5 # 38 - 49
              </ion-card-content>
              <ion-card-content>
                PRECIO: Desde $68.000
              </ion-card-content>
            </ion-card>
          </div>
        </ion-accordion>
        
        
        <ion-accordion value="seventh">
          <ion-item slot="header" color="light">
            <ion-label>EL MORROCOY</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <ion-card>
              <img alt="Silhouette of mountains" src="../../assets/icon/Morrocoyafuera.jpg" />
              <img alt="Silhouette of mountains" src="../../assets/icon/Morrocoyrecepcion.jpg" />
              <img alt="Silhouette of mountains" src="../../assets/icon/Morrocoyhabitacion.jpg" />
              <ion-card-content>
                DIRECCION: Calle 5 # 34 - 53
              </ion-card-content>
              <ion-card-content>
                TELEFONO: +57 314 5470372
              </ion-card-content>
              <ion-card-content>
                PRECIO: Desde $90.000
              </ion-card-content>
            </ion-card>
          </div>
        </ion-accordion>
        <ion-accordion value="eigth">
          <ion-item slot="header" color="light">
            <ion-label>D' LEON</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <ion-card>
              <img alt="Silhouette of mountains" src="../../assets/icon/Leonafuera.jpg" />
              <img alt="Silhouette of mountains" src="../../assets/icon/Leonrecepcion.jpg" />
              <img alt="Silhouette of mountains" src="../../assets/icon/Leonhabitacion.jpg" />
              <ion-card-content>
                DIRECCION: Carrera 30 # 5 - 21 y 5- 36
              </ion-card-content>
              <ion-card-content>
                PRECIO: Desde $110.000
              </ion-card-content>
            </ion-card>
          </div>
        </ion-accordion>
       
        <ion-accordion value="thirteen">
          <ion-item slot="header" color="light">
            <ion-label>IMPERIAL LA QUINTA</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <ion-card>
              <img alt="Silhouette of mountains" src="../../assets/icon/Imperialafuera.jpeg" />
              <img alt="Silhouette of mountains" src="../../assets/icon/Imperialrecepcion.jpeg" />
              <img alt="Silhouette of mountains" src="../../assets/icon/Imperialhabitacion.jpg" />
              <ion-card-content>
                DIRECCION: Calle 5 # 38 -25
              </ion-card-content>
              <ion-card-content>
                PRECIO: Desde $60.000
              </ion-card-content>
            </ion-card>
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </ion-card>
  </ion-content>
</div>
